MONGO_URI=<Your MONGO_URI>
JWT_SECRET = <Your JWT_SECRET>
GOOGLE_APP_PASSWORD = <Your GOOGLE_APP_PASSWORD>
GOOGLE_USER= <Your GOOGLE_USER>
EMAIL_ADMIN= <Your EMAIL_ADMIN>
ADMIN_PASSWORD= <Your ADMIN_PASSWORD>
IMAGEKIT_PRIVATE_KEY= <Your IMAGEKIT_PRIVATE_KEY>
